#footer {
    border-top: 1px solid #eaeaea;
    margin: 70px 0 20px 0;
    padding: 10px 20px;
}

.geant-header-wrapper {
    background-color: #006d94;
    background-image: url("../images/header_bg_side.png");
    min-height: 120px;
}

.geant-header {
    padding-top: 15px;
}

.geant-logo {

}

.geant-header h1 {
    font-size: 44px;
    font-weight: 300;
    font-family: 'Open Sans', Tahoma, sans-serif;
    color: #ffffff;
}

.splash-screen {
    margin-top: 20px;
}

.messages {
    margin-top: 20px;
    margin-bottom: 20px;
}

.navbar {
    margin-bottom: 10px;
    border: none;
}

.form-control { margin-bottom: 10px; }

.form-signin {
  margin: 50px 0 0 0;
}

.form-signin-strategy {
    background-color: #ecf0f1;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 19px;
}
.form-edugain-signin-strategy {
    border: 1px solid #ecf0f1;
    border-radius: 4px;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 19px;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.btn-sign-in {
    width: 100%;
}
.btn-edugain {
    background-color: #1d80c2;
    width: 100%;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.3);
    color: #fff;
    font-weight: 400;
    transition: none 0s ease 0s ;
}

.account-wall {
  margin-top: 20px;
  padding: 40px 0px 20px 0px;
  background-color: #FFFFFF;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.login-title {
  color: #555;
  font-size: 18px;
  font-weight: 400;
  display: block;
}

.profile-img {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}


.rating {
    margin: 0 10px 30px 15px;
    padding: 10px 10px;
    float:left;
    width: 90%;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.rating-red {
    border: 2px solid #e01e11;
}

.rating-amber {
    border: 1px solid #ffb52d;
}

.rating-green {
    border: 1px solid #60ca72;
}

.rating-name {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 400;
}
.rating-name .popover-content {
    font-size: 14px;
}

.cloudservice {
    font-size: 18px;
}

form .form-group input {
    width: 150px;
}

form .form-group textarea {
    width: 300px;
}

form .form-group #cloudServiceProviderUser {
    width: 300px;
}

.user-box {
    margin-top: -50px;
}

.circle-red {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #e01e11;
    display: inline-block;
}

.circle-amber {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #ffb52d;
    display: inline-block;
}

.circle-green {
    width:16px;
    height:16px;
    border-radius: 50%;
    background: #60ca72;
    display: inline-block;    
}

/* for angular-ui  */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.dimmed {
    opacity: .25;
}

.remove-icon {
    color: #e01e11;
    margin-left: 6px;
}

.add-icon {
    color: Green;
}

.criterion-description-toggle {
    margin-left: 6px;
}

.criterion-description {
    font-size: 14px;
}

.edit-toggle-expand {
    margin-left: 30px;
}

.toggle-expand-icon {
    font-size: 16px;
    margin-right: 4px;
}
