<div class="container-fluid" ng-controller="LoginCtrl">

    <div class="row">
        <div class="text-center">
          <h3>Please log in:</h3>
        </div>
    </div>
    <form class="col-md-12 form-signin" name="loginForm"
          role="form" ng-submit="login(loginForm)">

      <div class="form-edugain-signin-strategy col-md-4">
        <div class="text-center">
          <img src="../images/eduGAIN.jpg" border="0">
            <br/><br/>
          <button type="button" class="btn btn-primary btn-lg btn-edugain" id="edugain-login">eduGAIN Login</button>
        </div>
      </div>
      
      <div class="form-signin-strategy col-md-4 col-md-offset-2">
        <legend>Catalogue Sign In</legend>
        <div ng-class="{'has-error': loginForm.username.$error.mongoose}">
          <input type="text" class="form-control"
                 ng-model="username"
                 name="username"
                 placeholder="Username"
                 required
                 autofocus>
          <p class="help-block"
             ng-show="loginForm.username.$error.mongoose">
            {{ errors.username }}
          </p>
        </div>
        <div ng-class="{'has-error': loginForm.password.$error.mongoose}">
          <input type="password" class="form-control"
                 ng-model="password"
                 name="password"
                 placeholder="Password" required>
          <p class="help-block"
             ng-show="loginForm.password.$error.mongoose">
            {{ errors.password }}
          </p>
        </div>        
        <div class="form-group has-error">
          <p class="help-block">{{ error.other }}</p>
        </div>
        <div class="text-center">
          <button class="btn btn-primary btn-lg btn-sign-in" type="submit">
            Login</button>
        </div>
      </div>
      
    </form>
</div>
