<div class="container-fluid" ng-controller="CloudServicesListCtrl">

    <div class="col-md-3">
      <!--Sidebar content-->

      Search: <input id="inputSmall" class="form-control input-sm" ng-model="query">
      <br/>
      Sort by:
      <select id="select" class="form-control" ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
      </select>

    </div>

    <div class="col-md-9">
      <!--Body content-->

      <ul class="service">
        <li>{{cloudServiceDetails.name}}</li>
        <li>{{cloudServiceDetails.description}}</li>
        <div ng-init="criteria = [
          'intellectualPropertyRights',
          'csp',
          'ownership',
          'nationalLawGovernance',
          'concordanceNationalPrivacyActs',
          'externalSecurityAuditCertificate',
          'subcontractors',
          'protectionMinorsUsers',
          'serviceLevelAgreement',
          'csSecurity',
          'securityIncidentsHandling',
          'dataBackupRestore',
          'compatibility',
          'dataProtection',
          'personnel',
          'penalty',
          'supervision',
          'dataAvailability',
          'edpAudit',
          'qualityReview',
          'notification',
          'billing',
          'aai',
          'userProvisioning',
          'reportingMeteringSalesEstimates',
          'networkConnectivityAssociatedNetworkingCosts'
          ]">          
          <li ng-repeat="criterion in criteria">
            {{criterion}}: {{cloudServiceProfile[criterion]}}
          </li>
          </div>
      </ul>

    </div>

</div>
