<div class="container-fluid" ng-controller="CloudServicesListCtrl">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
      </select>

    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul class="services">
        <li ng-repeat="cloudService in cloudServices | filter:query
                       | orderBy:orderProp">
          <p><a href="#/cloudservices/{{cloudService._id}}">
              {{cloudService.name}}</a></p>
          <p>{{cloudService.description}}</p>
        </li>
      </ul>

    </div>
  </div>
</div>
