<script type="text/ng-template" id="customCountryTemplate.html">
  <a>
      <img ng-src="/images/flags/{{match.model.code}}.svg" width="16"> --
      <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
  </a>
</script>

<div class="container-fluid">

  <div class="col-md-2">
    <!--Sidebar content-->

    Search: <input id="inputSmall" class="form-control input-sm"
                   ng-model="query">
    <br/>
    Sort by:
    <select id="select" class="form-control" ng-model="orderProp">
      <option value="order">Initial</option>
      <option value="_criterion.name">Alphabetical</option>
      <option value="value">Rating</option>
    </select>

  </div>

  <div class="col-md-10">
    <!--Body content-->

    <form name="cloudServiceForm" role="form" novalidate>
      
      <div class="row">
        <div class="form-group-lg"
             ng-class="{
               'has-error': cloudServiceForm.serviceName.$error.maxlength
               }">
          <label for="serviceName">Name (max 50 chars)</label>
          <input name="serviceName" class="form-control input-lg"
                 ng-minlength="0"
                 ng-maxlength="50"                   
                 type="text" ng-model="cloudServiceDetails.name">
          <span class="error"
                ng-show="cloudServiceForm.serviceName.$error.maxlength">
            Name too long.
          </span>          
        </div>
      </div>

      <div class="row">
        <div class="well">
          
          <div class="form-group"
             ng-class="{
               'has-error': cloudServiceForm.description.$error.maxlength
               }">               
            <label for="description">Description (max 500 chars)
            </label><br/>
            <input class="form-control"
                   type="text"
                   name="description"
                   ng-required="false"
                   ng-minlength="0"
                   ng-maxlength="500"                   
                   ng-model="cloudServiceDetails.description">
            <span class="error"
                  ng-show="cloudServiceForm.description.$error.maxlength">
              Description too long.
            </span>
          </div>

          <div class="form-group"
             ng-class="{
               'has-error': cloudServiceForm.longDescription.$error.maxlength
               }">
            <label for="longDescription">
              Long description (max 10,000 chars)
            </label>
            <div class="text-muted">
              HTML editing is possible with the following tags:
              'h3', 'h4', 'h5', 'h6', 'blockquote',
              'p', 'a', 'ul', 'ol', 'nl', 'li', 'b', 'i', 'strong',
              'em', 'strike', 'code', 'hr', 'br', 'div', 'table',
              'thead', 'caption', 'tbody', 'tr', 'th', 'td', 'pre'.
            </div>
            <textarea class="form-control"
                      name="longDescription"
                      rows="10"
                      ng-required="false"
                      ng-minlength="0"
                      ng-maxlength="10000"
                      ng-model="cloudServiceDetails.longDescription">
            </textarea>
            <span class="error"
                  ng-show="cloudServiceForm.longDescription.$error.maxlength">
              Description too long.
            </span>
          </div>

          <div class="form-group"
             ng-class="{
               'has-error': cloudServiceForm.logo.$error.maxlength
               }">
            <label for="logo">
              Logo
            </label>
            <div ng-if="cloudServiceDetails.logo" class="cloud-service-logo">
              <img ng-src="{{ cloudServiceDetails.logo }}"
                   alt="Logo"
                   height="36"/>
            </div>
            <agora-upload-image image="cloudServiceDetails.logo"
                                ng-transclude>
              <input type="file"
                     class="btn btn-file"/>
            </agora-upload-image>
            <span class="error"
                  ng-show="cloudServiceForm.logo.$error.maxlength">
              Description too long.
            </span>
          </div>
        
          <div class="form-group"
             ng-class="{
               'has-error': cloudServiceForm.contactPerson.$error.maxlength
               }">
            <label for="contactPerson">
              Contact person (max 30 chars)
            </label>
            <input class="form-control narrow-input"
                      name="contactPerson"
                      ng-required="false"
                      ng-minlength="0"
                      ng-maxlength="30"
                      ng-model="cloudServiceDetails.contactPerson">
            <span class="error"
                  ng-show="cloudServiceForm.contactPerson.$error.maxlength">
              Person name too long.
            </span>
          </div>

          <div class="form-group"
             ng-class="{
               'has-error': cloudServiceForm.telephone.$error.maxlength
               }">
            <label for="telephone">
              Contact telephone (max 20 chars)
            </label>
            <input class="form-control narrow-input"
                      name="telephone"
                      ng-required="false"
                      ng-minlength="0"
                      ng-maxlength="20"
                      ng-model="cloudServiceDetails.telephone">
            <span class="error"
                  ng-show="cloudServiceForm.telephone.$error.maxlength">
              Telephone too long.
            </span>
          </div>

          <div class="form-group"
             ng-class="{
               'has-error': cloudServiceForm.contactEmail.$error.maxlength
               }">
            <label for="contactEmail">
              Contact email (max 40 chars)
            </label>
            <input class="form-control narrow-input"
                      name="contactEmail"
                      ng-required="false"
                      ng-minlength="0"
                      ng-maxlength="40"
                      ng-model="cloudServiceDetails.contactEmail">
            <span class="error"
                  ng-show="cloudServiceForm.contactEmail.$error.maxlength">
              E-mail too long.
            </span>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          <div ng-repeat="country in cloudServiceDetails.countries">
            <img tooltip-placement="top"
                 tooltip="{{country.name}}"
                 ng-src="/images/flags/{{country.code}}.svg"
                 height="12">
            <span tooltip-placement="top" ng-click="removeCountry(country)"
                  tooltip="Remove {{country.name}}">                      
              <span class="glyphicon glyphicon-remove-sign
                           remove-icon"></span>
            </span>
          </div>
          <div ng-click="enableAddCountry = !enableAddCountry">
            <span class="glyphicon glyphicon-plus-sign add-icon"/>
            <label for="cloudServiceProviderCountry">Add country</label>
          </div>
          
          <div ng-show="enableAddCountry" 
               class="form-group" ng-controller="AddCountryCtrl">
            <img ng-if="cloudServiceDetails.countryCode"
                 ng-src="/images/flags/{{cloudServiceDetails.countryCode}}.svg"
                 height="12">
            <input type="text" class="form-control"
                   id="cloudServiceCountry"
                   ng-model="cloudServiceDetails.cloudServiceCountry"
                   placeholder="A Country"
                   typeahead-editable="false"
                   typeahead-on-select="addCountry($item, $model, $label)"
                   typeahead="loadedCountry.name
                              for loadedCountry in getCountries($viewValue)"
                   typeahead-template-url="customCountryTemplate.html"
                   typeahead-loading="loadingCountries" class="form-control">
            <i ng-show="loadingCountries"
               class="glyphicon glyphicon-refresh"></i>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          <label for="selectProcessingStatus">Processing status</label>
          <select id="selectProcessingStatus"
                  ng-model="cloudServiceDetails.processingStatus"
                  ng-options="processingStatus.value
                              as processingStatus.label
                              for processingStatus in processingStatuses">
          </select>
          <button type="button"
                  class="btn btn-default btn-large edit-toggle-expand"
                  ng-click="toggleExpand()"> 
            <span class="glyphicon toggle-expand-icon"
                  ng-class="{
                            'glyphicon-collapse-up': isExpanded,
                            'glyphicon-collapse-down': !isExpanded
                            }"></span>{{ isExpanded? 'Hide' : 'Show' }} Details
          </button>
                  </div>
      </div>
      
      <br/>

      <div ng-repeat="rating in cloudServiceDetails.ratings
                      | filter:query
                      | orderBy:orderProp">
        
        <div class="rating row"
             ng-class="{'rating-red': (rating.value == 2),
                       'rating-amber': (rating.value == 1) ,
                       'rating-green': (rating.value == 0)}">
          <div class="rating-name">
            {{ rating._criterion.label }}
            <span ng-click="toggleCriterion(rating)"> 
              <span class="glyphicon criterion-description-toggle"
                    tooltip="{{ !showDescriptions[rating._criterion.name]
                             ? 'Show description'
                             : 'Hide description'}}"
                    ng-class="{
                              'glyphicon-collapse-down':
                              !showDescriptions[rating._criterion.name],
                              'glyphicon-collapse-up':
                              showDescriptions[rating._criterion.name]
                              }">
              </span>
              <div collapse="!showDescriptions[rating._criterion.name]">
                <div class = "well criterion-description">
                     {{ rating._criterion.description }}
                </div>
              </div>
            </span>          
          </div>
          <p>Rating: <span ng-class="{'circle-red': (rating.value == 2),
                                     'circle-amber': (rating.value == 1) ,
                                     'circle-green': (rating.value == 0)}">
              &nbsp;</span>
            <select ng-model="rating.value"
                    ng-options="colour.value as colour.label
                                for colour in colours">
            </select>
            <span ng-controller="CommentModalCtrl">
              <span popover-placement="top"
                    popover="{{rating.comment}}">
                <span ng-class="{dimmed: !rating.comment}"
                      class="glyphicon glyphicon-comment"></span>
              </span>
              <button type="button" class="btn btn-link"
                      ng-click="openCommentModal()">
                <span class="glyphicon glyphicon-pencil"></span>
              </button>
            </span>
          </p>
        </div>        
      </div>
      
      <div class="row">
        <div class="col-md-4">
          <button class="btn btn-lg btn-block"
                  ng-disabled="isUnchanged(cloudServiceDetails)"
                  ng-click="reset()">Reset</button>
        </div>        
        <div class="col-md-4">
          <button class="btn btn-lg btn-primary btn-block "
                  ng-click="update(cloudServiceDetails)">Save</button>
        </div>
      </div>
    </form>
  </div>

</div>
