<script type="text/ng-template" id="customCountryTemplate.html">
  <a>
      <img ng-src="/images/flags/{{match.model.isoCode}}.svg" width="16"> --
      <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
  </a>
</script>

<div class="container-fluid">

  <div class="col-md-3">
    <!--Sidebar content-->

    Search: <input id="inputSmall" class="form-control input-sm"
                   ng-model="query">
    <br/>
    Sort by:
    <select id="select" class="form-control" ng-model="orderProp">
      <option value="_criterion.name">Alphabetical</option>
      <option value="value">Rating</option>
      <option value="">Initial</option>
    </select>

  </div>

  <div class="col-md-9">
    <!--Body content-->

    <form novalidate>
      
      <div class="row">
        <h2>{{cloudServiceDetails.name}}
          <button type="button" class="btn btn-link"
                  ng-click="nameEdit = !nameEdit">
            <span class="glyphicon glyphicon-pencil"></span>
          </button>          
        </h2>
      </div>

      <div class="row">
        <h2 ng-show="nameEdit">
          <input type="text" ng-model="cloudServiceDetails.name">
        </h2>
      </div>

      <div class="row">
        <div class="well">
          {{cloudServiceDetails.description}}
          <button type="button" class="btn btn-link"
                  ng-click="descriptionEdit = !descriptionEdit">
            <span class="glyphicon glyphicon-pencil"></span>
          </button>
      
          <input ng-show="descriptionEdit" class="form-control"
                 type="text" ng-model="cloudServiceDetails.description">      
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          <div ng-repeat="country in cloudServiceDetails.countries">
            <img tooltip-placement="top"
                 tooltip="{{country.name}}"
                 ng-src="/images/flags/{{country.isoCode}}.svg"
                 height="12">
            <span tooltip-placement="top" ng-click="removeCountry(country)"
                  tooltip="Remove {{country.name}}">                      
              <span class="glyphicon glyphicon-remove-sign
                           remove-icon"></span>
            </span>
          </div>
          <div ng-click="enableAddCountry = !enableAddCountry">
            <span class="glyphicon glyphicon-plus-sign add-icon"/>
            <label for="cloudServiceProviderCountry">Add country</label>
          </div>
          
          <div ng-show="enableAddCountry" 
               class="form-group" ng-controller="AddCountryCtrl">
            <img ng-if="cloudServiceDetails.countryCode"
                 ng-src="/images/flags/{{cloudServiceDetails.countryCode}}.svg"
                 height="12">
            <input type="text" class="form-control"
                   id="cloudServiceCountry"
                   ng-model="cloudServiceDetails.cloudServiceCountry"
                   placeholder="A Country"
                   typeahead-editable="false"
                   typeahead-on-select="addCountry($item, $model, $label)"
                   typeahead="loadedCountry.name
                              for loadedCountry in getCountries($viewValue)"
                   typeahead-template-url="customCountryTemplate.html"
                   typeahead-loading="loadingCountries" class="form-control">
            <i ng-show="loadingCountries"
               class="glyphicon glyphicon-refresh"></i>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          <label for="selectProcessingStatus">Processing status</label>
          <select id="selectProcessingStatus"
                  ng-model="cloudServiceDetails.processingStatus"
                  ng-options="processingStatus.value
                              as processingStatus.label
                              for processingStatus in processingStatuses">
          </select>
          <button type="button"
                  class="btn btn-default btn-large edit-toggle-expand"
                  ng-click="toggleExpand()"> 
            <span class="glyphicon toggle-expand-icon"
                  ng-class="{
                            'glyphicon-collapse-up': isExpanded,
                            'glyphicon-collapse-down': !isExpanded
                            }"></span>{{ isExpanded? 'Hide' : 'Show' }} Details
          </button>
                  </div>
      </div>
      
      <br/>

      <div ng-repeat="rating in cloudServiceDetails.ratings
                      | filter:query
                      | orderBy:orderProp">
        
        <div class="rating row"
             ng-class="{'rating-red': (rating.value == 2),
                       'rating-amber': (rating.value == 1) ,
                       'rating-green': (rating.value == 0)}">
          <div class="rating-name">
            {{ rating._criterion.label }}
            <span ng-click="toggleCriterion(rating)"> 
              <span class="glyphicon criterion-description-toggle"
                    tooltip="{{ !showDescriptions[rating._criterion.name]
                             ? 'Show description'
                             : 'Hide description'}}"
                    ng-class="{
                              'glyphicon-collapse-down':
                              !showDescriptions[rating._criterion.name],
                              'glyphicon-collapse-up':
                              showDescriptions[rating._criterion.name]
                              }">
              </span>
              <div collapse="!showDescriptions[rating._criterion.name]">
                <div class = "well criterion-description">
                     {{ rating._criterion.description }}
                </div>
              </div>
            </span>          
          </div>
          <p>Rating: <span ng-class="{'circle-red': (rating.value == 2),
                                     'circle-amber': (rating.value == 1) ,
                                     'circle-green': (rating.value == 0)}">
              &nbsp;</span>
            <select ng-model="rating.value"
                    ng-options="colour.value as colour.label
                                for colour in colours">
            </select>
            <span ng-controller="CommentModalCtrl">
              <span popover-placement="top"
                    popover="{{rating.comment}}">
                <span ng-class="{dimmed: !rating.comment}"
                      class="glyphicon glyphicon-comment"></span>
              </span>
              <button type="button" class="btn btn-link"
                      ng-click="openCommentModal()">
                <span class="glyphicon glyphicon-pencil"></span>
              </button>
            </span>
          </p>
        </div>        
      </div>
      
      <div class="row">
        <div class="col-md-4">
          <button class="btn btn-lg btn-block"
                  ng-disabled="isUnchanged(cloudServiceDetails)"
                  ng-click="reset()">Reset</button>
        </div>        
        <div class="col-md-4">
          <button class="btn btn-lg btn-primary btn-block "
                  ng-click="update(cloudServiceDetails)">Save</button>
        </div>
      </div>
    </form>
  </div>

</div>
