<div class="container-fluid" ng-controller="CloudServicesListCtrl">

  <div class="col-md-3">
    <!--Sidebar content-->

    Search: <input id="inputSmall" class="form-control input-sm"
                   ng-model="query">
    <br/>
    Sort by:
    <select id="select" class="form-control" ng-model="orderProp">
      <option value="contents.label">Alphabetical</option>
      <option value="contents.rating">Rating</option>
      <option value="order">Initial</option>
    </select>

  </div>

  <div class="col-md-9">
    <!--Body content-->
      
    <h2>{{cloudServiceDetails.name}}</h2>
    
    <div class="well">
      {{cloudServiceDetails.description}}
    </div>
    
    <br/>

    <p id="message"
       class="alert alert-success"
       ng-show="message">
      {{ message }}
    </p>
    
    <p id="error"
       class="alert alert-danger"
       ng-show="error">
      {{ error }}
    </p>

    <form novalidate>
      <div class="service">
        <div class="service-item" ng-class="{'service-item-red':
                    (criterion.contents.rating == 0),
                    'service-item-amber':
                    (criterion.contents.rating == 1) ,
                    'service-item-green':
                    (criterion.contents.rating == 2)}"
                    ng-repeat="criterion in
                    cloudServiceProfile.criteria
                    | filter:query
                    | orderBy:orderProp">
          <div class="service-item-title">
            {{ criterion.contents.label }}
          </div>
          <p>Rating: <span class="label"
            ng-class="{'label-danger':
                      (criterion.contents.rating == 0),
                      'label-warning':
                      (criterion.contents.rating == 1) ,
                      'label-success':
                      (criterion.contents.rating == 2)}">&nbsp;</span>
            <select ng-model="criterion.contents.rating"
                    ng-options="colour.value as colour.name for colour
                                in colours">
            </select></p>
            <p ng-show="cloudServiceProfile[criterion].tags">Tags:
              {{ criterion.contents.tags }}</p>
          </div>
        
      </div>
      <button class="btn btn-lg btn-primary btn-block"
                     ng-click="update()">Update</button>
    </form>    
  </div>

</div>
