<div class="container-fluid">

    <div class="col-md-3">
      <!--Sidebar content-->

      Search: <input id="inputSmall" class="form-control input-sm"
                     ng-model="query">
      <br/>
      Sort by:

      <select id="select" class="form-control" ng-model="orderProp">
        <option value="order">Initial</option>        
        <option value="_criterion.name">Alphabetical</option>
        <option value="value">Rating</option>
      </select>

    </div>

    <div class="col-md-9">
      <!--Body content-->

      <div class="row">
        <div ng-if="cloudServiceDetails.logo" class="cloud-service-logo">
            <img ng-src="{{ cloudServiceDetails.logo }}"
                 alt="Logo"
                 height="36"/>
          </div>                  
        <h2 class="col-md-8">{{cloudServiceDetails.name}}
          <span ng-repeat="country in cloudServiceDetails.countries">
              <img tooltip-placement="top"
                   tooltip="{{country.name}}"
                   ng-src="/images/flags/{{country.code}}.svg"
                   height="12"> 
          </span>
        </h2>
        <div ng-show="canEdit"
               class="col-md-4">
          <h2>
            <a class="btn btn-info"
               ng-href="#/cloudservices/{{cloudServiceDetails._id}}/edit">
              Edit Service</a>
          </h2>
        </div>
      </div>            

      <div class="row">
        <div class="well col-md-8">
          <div ng-show="cloudServiceDetails.description">
            {{cloudServiceDetails.description}}
          </div>
          <div class="cloud-service-long-description"
               ng-show="cloudServiceDetails.longDescription">
            {{cloudServiceDetails.longDescription}}
          </div>
        </div>

        <div class="service-contact-details col-md-3">
          <legend>Contact details</legend>
          <div ng-show="cloudServiceDetails._cloudServiceProvider.registeredName">
            {{cloudServiceDetails._cloudServiceProvider.registeredName}}
          </div>          
          <div ng-show="cloudServiceDetails.contactPerson">
            {{cloudServiceDetails.contactPerson}}
          </div>
          <div ng-show="cloudServiceDetails.telephone">
            {{cloudServiceDetails.telephone}}
          </div>
          <div ng-show="cloudServiceDetails.contactEmail">
            {{cloudServiceDetails.contactEmail}}
          </div>                                                
          <div class="text-muted">
            <div class="ratings-date">Indicators:<br/>
              {{ cloudServiceDetails.ratingsDate | date: 'yyyy-MM-dd' }}
            </div>
          </div>
        </div>

      </div>
      
      <div class="row">
        <div class="col-md-5">
          <button type="button" class="btn btn-default"
                  ng-click="toggleExpand()"> 
            <span class="glyphicon toggle-expand-icon"
                  ng-class="{
                            'glyphicon-collapse-up': isExpanded,
                            'glyphicon-collapse-down': !isExpanded
                            }"></span>{{ isExpanded? 'Hide' : 'Show' }} Details
          </button>
        </div>
      </div>
      <br/>
      
      <div ng-repeat="rating in cloudServiceDetails.ratings
                      | filter:query
                      | orderBy:orderProp" class="row">
        
        <div 
           id="{{rating._criterion.name}}"
           class="rating col-md-4"
           ng-class="{'rating-red': (rating.value == 2),
                     'rating-amber': (rating.value == 1) ,
                     'rating-green': (rating.value == 0)}">
          <div class="rating-name">
            {{ rating._criterion.label }}
            <span ng-click="toggleCriterion(rating)"> 
                <span class="glyphicon criterion-description-toggle"
                      tooltip="{{ !showDescriptions[rating._criterion.name]
                               ? 'Show description'
                               : 'Hide description'}} "
                      ng-class="{
                                'glyphicon-collapse-down':
                                !showDescriptions[rating._criterion.name],
                                'glyphicon-collapse-up':
                                showDescriptions[rating._criterion.name]
                                }">
                </span>
              <div collapse="!showDescriptions[rating._criterion.name]">
                <div class = "well criterion-description">
                     {{ rating._criterion.description }}
                </div>
              </div>
            </span>          
          </div>
          <p>Rating:
            <span class="label"
                  ng-class="{'circle-red': (rating.value == 2),
                            'circle-amber': (rating.value == 1) ,
                            'circle-green': (rating.value == 0)}">
              &nbsp;</span>
            <span ng-show="rating.comment"
                  ng-controller="CommentModalCtrl">
              <span popover-placement="top"
                    popover="{{rating.comment}}">
                <span class="glyphicon glyphicon-comment"></span>
              </span>
            </span>            
          </p>
        </div>
        
        <div class="rating"
             ng-class="{'rating-red': (rating.value == 2),
                       'rating-amber': (rating.value == 1) ,
                       'rating-green': (rating.value == 0)}"
             ng-repeat="rating in ratings">
          <div class="rating-title">{{ rating._criterion.label }}</div>
          <p>Rating: <span class="label"
                           ng-class="{'circle-red': (rating.value == 2),
                                     'circle-amber': (rating.value == 1) ,
                                     'circle-green': (rating.value == 0)}">
              &nbsp;</span></p>
        </div>
      </div>
    </div>
    
</div>
