<div class="container-fluid">
  
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      <p>Search: <input id="inputSmall" class="form-control input-sm" ng-model="query"></p>
      <p>Sort by:
        <select id="select" class="form-control" ng-model="orderProp">
          <option value="name">Alphabetical</option>
          <option value="_cloudServiceProvider.name">Provider</option>
          <option value="">Initial</option>
        </select>
      </p>

    </div>
    <div class="col-md-9">
      <!--Body content-->

      <div class="row">

        <div ng-show="canAdd"
             class="col-md-offset-8 col-md-4">
          <h2>
            <a class="btn btn-info"
               ng-href="#/cloudservices/new">
              Add Service</a>
        </h2>
        </div>
      </div>
      
      <div class="services list-group">
        <div class="list-group-item"
             ng-repeat="cloudService in cloudServices
                        | filter:query | orderBy:orderProp">
            <h4 class="list-group-item-heading">
              <a ng-href="#/cloudservices/{{cloudService._id}}">
                {{cloudService.name}}</a>
              <span ng-repeat="country in cloudService.countries">
                <img tooltip-placement="top"
                     tooltip="{{country.name}}"
                     ng-src="/images/flags/{{country.isoCode}}.svg"
                     height="12">
              </span>              
            </h4>            
            <p class="list-group-item-text">{{cloudService.description}}</p>
            <span ng-repeat="rating in cloudService.ratings">
              <a ng-href="#/cloudservices/{{cloudService._id}}#{{criteria[rating._criterion].name}}"
                 tooltip-placement="top"
                 tooltip="{{criteria[rating._criterion].label}}"
                 ng-class="{'circle-red': (rating.value == 2),
                           'circle-amber': (rating.value == 1) ,
                           'circle-green': (rating.value == 0)}">
              </a>
              </div>
            </span>
        </div>
      </div>

    </div>
  </div>
</div>
