<div class="navbar navbar-default" ng-controller="">
    <div class="nav navbar-nav pull-right">
        <ul class="nav navbar-nav" ng-hide="">
            <li><a href="/login">Log In</a></li>
        </ul>
        <ul class="nav navbar-nav" ng-show="">
            <li class="dropdown">
                <a class="dropdown-toggle">Welcome,  <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a ng-click="logout()"><span class=""></span> Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!--/.navbar-collapse -->
</div>
<!--/.navbar -->
