<div class="container-fluid">

  <div class="col-md-9 col-md-offset-3 cloud-service">
    <!--Body content-->

    <form role="form" novalidate>

      <div class="form-group">
        <label for="cloudServiceProviderName">
          Provider name</label>
        <input type="text" class="form-control"
               id="cloudServiceProviderName"
               ng-model="cloudServiceProviderDetails.name"/>
      </div>

      <div class="form-group">
        <label for="cloudServiceProviderDescription">
          Provider description</label>
        <textarea id="cloudServiceProviderDescription"
                  class="form-control"
                  ng-model="cloudServiceProviderDetails.description"
                  rows="3"></textarea>
      </div>

      <div class="form-group">
        <label for="cloudServiceProviderCountry">
          Provider country</label>
        <input type="text" class="form-control" id="cloudServiceProviderCountry"
               ng-model="cloudServiceProviderDetails.country"/>
      </div>

      <div class="form-group" ng-controller="UserSelectCtrl">
        <label for="cloudServiceProviderUser">User</label>
        <input type="text" class="form-control"
               id="cloudServiceProviderUser"
               ng-model="cloudServiceProviderDetails.cloudServiceProviderUser"
               placeholder="A User"
               typeahead-editable="false"
               typeahead-on-select="selectUser($item, $model, $label)"
               typeahead="loadedUser.displayName
                          for loadedUser in getUsers($viewValue)"
               typeahead-loading="loadingUsers" class="form-control">
        <i ng-show="loadingUsers"
           class="glyphicon glyphicon-refresh"></i>
      </div>
      
      <div class="row">
        <div class="col-md-4">
          <button class="btn btn-lg btn-block"
                  ng-disabled="isUnchanged()"
                  ng-click="reset()">Reset</button>
        </div>        
        <div class="col-md-4">
          <button class="btn btn-lg btn-primary btn-block "
                  ng-click="update()">Save</button>
        </div>
      </div>

    </form>
  </div>
  
</div>
