<div class="container-fluid">

  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      <h4>Search:</h4>
      <input class="form-control input-sm" ng-model="query"><p/>
      <h4>Sort by:</h4>
      <select id="select" class="form-control" ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="country">Country</option>
        <option value="">Initial</option>
      </select>
    </div>
    
    <div class="col-md-10">
      <!--Body content-->

      <div class="row">

        <div ng-show="canAdd"
             class="col-md-offset-8 col-md-4">
          <h2>
            <a class="btn btn-info"
               ng-href="#/cloudserviceproviders/new">
              Add Provider</a>
          </h2>
        </div>
      </div>

      <div class="list-group">
        <div class="list-group-item"
             ng-repeat="provider in cloudServiceProviders
                        | filter:query
                        | orderBy:orderProp">
          <div class="row">
            <div class="col-md-3">              
                <div ng-if="provider.logo" class="csp-logo">
                  <a
                   ng-href="#/cloudserviceproviders/{{provider._id}}">
                    <img ng-src="{{ provider.logo }}"
                         alt="Logo"
                         height="36px"/>
                  </a>
                </div>
            </div>
            <div class="col-md-9">
              <h4 class="list-group-item-heading">
                <a
                   ng-href="#/cloudserviceproviders/{{provider._id}}">
                  {{provider.name}}
                </a>
                <img height="12"
                     ng-src="/images/flags/{{provider._country.code}}.svg"
                     />
              </h4>
              <p class="list-group-item-text">{{provider.description}}</p>
            </div>
          </div> <!-- row -->
        </div> <!-- list-group-item -->
      </div> <!-- list-group -->
      
    </div>
  </div>
</div>
