<div class="container-fluid">

  <div class="row">
    <div class="col-md-3">
      <!--Sidebar content-->

      <h4>Search:</h4>
      <input class="form-control input-sm" ng-model="query"></p>
      <h4>Sort by:</h4>
      <select id="select" class="form-control" ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="country">Country</option>
        <option value="">Initial</option>
      </select>

    </div>
    <div class="col-md-9">
      <!--Body content-->

      <div class="row">

        <div ng-show="canAdd"
             class="col-md-offset-8 col-md-4">
          <h2>
            <a class="btn btn-info"
               ng-href="#/cloudserviceproviders/new">
              Add Provider</a>
        </h2>
        </div>
      </div>
      
      <div class="providers list-group">
          <div class="list-group-item"
               ng-repeat="provider in cloudServiceProviders
                          | filter:query
                          | orderBy:orderProp">
            <h4 class="list-group-item-heading">
              <a ng-href="#/cloudserviceproviders/{{provider._id}}">
                {{provider.name}}
                <img height="12"
                     ng-src="/images/flags/{{provider._country.code}}.svg"
              </a></h4>
            <p class="list-group-item-text">{{provider.description}}</p>
            <p class="list-group-item-text">{{provider.country}}</p>
          </div>
      </div>
      
    </div>
  </div>
</div>

