<div class="container-fluid" ng-controller="CloudServiceProvidersListCtrl">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      <p>Search: <input class="form-control input-sm" ng-model="query"></p>
        <p>Sort by:
            <select id="select" class="form-control" ng-model="orderProp">
                <option value="name">Alphabetical</option>
                <option value="country">Country</option>
            </select>
        </p>

    </div>
    <div class="col-md-9">
      <!--Body content-->

        <div class="providers list-group">
            <div class="list-group-item"  ng-repeat="provider in providers | filter:query | orderBy:orderProp">
                <h4 class="list-group-item-heading">{{provider.name}}</h4>
                <p class="list-group-item-text">{{provider.description}}</p>
                <p class="list-group-item-text">{{provider.country}}</p>
            </div>
        </div>

    </div>
  </div>
</div>
